* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'Noto Serif TC', 'Noto Serif SC', serif;
  /*Latin font:ubuntu, Chinese font: Noto, others: sans-serif */
}
::-webkit-scrollbar {
  display: none;
}

.App {
  font-size: 0;
  display:flex;
  flex-flow: column wrap;
}

/* blocks */
.allBlocks{
  font-size: 16px;
  margin-bottom: 25px;
  padding: 10px 0;
  display:inline-flexbox;
  flex-flow: column nowrap;
  /* border: 2px solid rgb(255, 175, 55); */
}


.allBlocks .blockContent{
  font-size: 16px;
  color: #143938;
  margin:0px 5% 10px 0;

  display: grid;
  grid-template-rows: 50px 30px auto auto;
  grid-template-columns:50px 5% 80px 50px auto 50px 50px;
  grid-template-areas:
    "date . icon       scale   title   remove  mark   "
    ".    . time       content content content content "
    ".    . checkbox   content content content content "
    ".    .  .         content content content content ";
}
.borderLine{
  grid-column:4 /-2;
  grid-row:  1 / -1;
}

.blockContent:hover .borderLine{
  border: 1.8px solid #2b7a4f;
  border-radius: 5px;
  box-shadow:0 3px 4px 3px rgba(0,0,0,0.25);
  transition: 0.3s;
}


/*Button */
.iconBtn{
  outline: 0;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 26px;
  color: #35c189;
  background:none;
  border: none;

}

.scaleBtn{
  grid-area: scale;
  padding-left: 20px;
}
.removeBtn{
  grid-area: remove;
}

/*button end */
.mark{
  grid-area: mark;
  align-self: center;
  justify-self: center;
}
.checkContainer{
  grid-area: checkbox;
  align-self: center;
  justify-self: center;
  display: none;
}

/* input */
.inputContainer{
  width: 100%;
  margin: 20px 0;
  text-align: left;
  box-sizing: border-box;
  word-wrap: break-word;
}
.inputLabel{
  float: left;
  width: 100%;
  height: 30px;
  position: relative;
  clear: both;
}
.inputContainer .inputLabel span{
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  cursor: text;
}
.inputContainer .inputLabel span span{
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 20px;
  color: #35c189;
  transition: 0.3s;
}
.inputContainer .inputLabel span::before{
  content: '';
  width: 0%;
  height: 2px;
  background-color: #35c189;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s;
}
.inputContainer .inputLabel span::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: #35c189;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  transition: 0.3s;
}
.inputField{
  float: left;
  width:100%;
  height: 30px;
  margin: 20px 0;
  border: 0;
  border-radius: 4px;
  background-color: #35c18927;
  color: #35c189;
  font-size: 20px;
  position: relative;
  z-index: 99;
  word-wrap: break-word;
}
.inputField:focus{
  outline: 0;
}
.inputField:focus + span span{
  cursor: initial;
  position: absolute;
}
.inputField:focus + span ::before{
  width: 50%;
}
.inputField:focus + span ::after{
  width: 50%;
}

.descriptionInput::placeholder{
  color:#1e525054;
}
/* input end */

/*upload file*/
.file_li{
  list-style: none;
}

.file_img{
  width: 20%;
  height: 20%;
}

.file_preview_icon{
  margin-right: 10px;
}

.file_edit_icon{
  margin-left: 10px;
}

.blockIcon{
  grid-area: icon;
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
  color: #35c189;
}
.blockTitle{
  grid-area: title;
  align-self: center;
  padding-left: 40px;
  font-size: 22px;
  color: #2b7a4f;

}
.timeINFO{
  text-align: center;
  align-self: left;
  color: #35c189;
}
.date{
  grid-area: date;
  font-size: 16px;
  /* padding-left: 10px; */
  text-align: right;

}
.time{
  grid-area: time;
  font-size: 16px;
}

.blockMain{
  grid-area: content;
  padding: 20px 20px;
  line-height: 30px;
}


.picBlock img{
  max-width: 70%;
  max-height: auto;
}



/* progressBar  */
.progressContainer {
  width: 7px;
  height: 100%;
  margin: 20px 0 0 calc(60px + 2%);
  background-color: #bdd4cb;
  position: fixed;
}

.progressBar {
  width: 7px;
  background: linear-gradient(135deg, #69cb43, #35c189 60%, #35c189);
}

/* progressBar end */



.navigatorContainer{
  width: 100%;
  background-color: #143938;
  height: 30px;
  bottom: 0;
  position: fixed;
  z-index: 300;
}
.viewMode{
  display: flex;
  justify-content:space-between;
}
.selectMode{
  display: none;
  justify-content:space-between;
}

.navigationBar i {
  font-size: 16px;
  color: #fff;
  padding: 7px 20px 0;
}

.search{
  padding-top: 2px;
  padding-left: 5%;
}
.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: white;
  width: 3px;
  height: 6px;
  position: absolute;
  top: 15px;
  right: -1px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #272a2b;
}

.search > div > input {
  font-size: 12px;
  font-weight: 100;
  background: rgb(255, 255, 255);
  width: 5px;
  height: 5px;
  padding: 6px;
  border: solid 2px white;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 1px #272a2b;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #1e525054;
  opacity: 1;
}
.search > div > input:focus,
.search > div > input:valid {
  width: 180px;
}

/* navBar end */


header {
  width: 100%;

  background-color: #143938;
  height: 30px;
  top: 0;
  position: sticky;
  z-index: 298;
}

.file-title {
  text-align: center;
  padding: 2px;
  color: #fff;
  font-weight: 300;
  font-size: 22px;
}

.container{
  margin-top: 20px;
}

/*folding block animation*/
.rotate-close{
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.rotate-open{
  transform: rotate(0deg);
  transition-duration: 0.3s;
}

/*delete block animation*/
.removed-item {
  animation: removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}

@keyframes removed-item-animation {
  0% {
      opacity: 1;
      transform: translateX(0);
  }

  30% {
      opacity: 1;
      transform: translateX(-50px);
  }

  80% {
      opacity: 1;
      transform: translateX(120%);
  }

  100% {
      opacity: 0;
      transform: translateX(120%);
  }
}