@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
/*==========  Global  ==========*/
/*==========  Basics  ==========*/
header {
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;
  text-align: center;
  background-color: #fff;
}
header .file-title {
  margin-top: 10px;
  font-family: "Noto Serif TC", serif;
  font-size: 34px;
  line-height: 0.5em;
  letter-spacing: 6px;
  color: #69cb43;
}
html,
body {
  height: 100%;
}
body {
  background: #fff;
  margin-top: 120px;
  margin-right: 8vw;
  margin-bottom: 35px;
  padding: 0px;
  font-family: "Noto Serif TC", serif;
  font-size: 18px;
  line-height: 26px;
}
body .progressContainer {
  width: 6px;
  height: 100%;
  background: #bdd4cb;
  top: 10vh;
  left: 6vw;
  bottom: 0;
  position: fixed;
  z-index: 0;
}
body .progressBar {
  width: 6px;
  height: 0%;
  background: linear-gradient(135deg, #69cb43, #35c189 60%, #35c189);
  top: 10vh;
  left: 6vw;
  position: fixed;
}
body .blockContent {
  margin-left: 12vw;
  margin-right: 8vw;
}
body .blockContent .timeline .ul,
body .blockContent .timeline li {
  list-style: none;
  float: none;
  margin-bottom: 15px;
}
body .blockContent .member-title {
  text-align: left;
  font-family: "Noto Serif TC", serif;
  font-size: 26px;
  letter-spacing: 2px;
  color: #35c189;
}
.navigatorBar {
  margin: 0;
  bottom: 0;
  background-color: #143938;
  height: 30px;
  width: 100%;
  z-index: 1;
  position: fixed;
  list-style: none;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  width: 40px;
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  padding: 30px 30px;
}
.NavMenu {
  background-color: #69cb43;
}
.search {
  margin-left: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
li .fa-search {
  margin-left: -20px;
}
